.box{
    width: 30px; /* ✅ Har box ka width */
    background-color: rgb(255, 255, 255); /* ✅ Default color */
    transition: height 0.3s ease-in-out, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    text-align: center;

}
body{
    background-color: rgb(117, 103, 131);
}
#box-container {
    background-color: white;
    display: flex;  /* ✅ Horizontally align all boxes */
    justify-content: center;  /* ✅ Center horizontally */
    align-items: center;  /* ✅ Align items properly */
    height: 300px;
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;

}
button{
    border: 1px solid rgb(167, 119, 119);
    cursor: pointer;
    height: 7vh;
    width: 10vw;
    border-radius: 30px;
    background-color: rgb(69, 66, 65);
    margin-top: 5vh;
    margin-left: 50vw;
    color: white;
}
h2{
    margin-top: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
