.node {
    fill: lightblue;
    stroke: black;
    stroke-width: 2px;
}

.text {
    font-size: 16px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: black;
    font-weight: bold;
}

.highlight {
    fill: orange !important;
}
button{
    border: 1px solid rgb(167, 119, 119);
    cursor: pointer;
    height: 7vh;
    width: 10vw;
    border-radius: 30px;
    background-color: rgb(69, 66, 65);
    margin-top: 5vh;
    margin-left: 50vw;
    color: white;
}
h2{
    margin-top: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#tree-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    text-align: center;
}
body{
    background-color: rgb(117, 103, 131);
}